* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunitoregular.woff") format("woff");
    src: url("../fonts/Nunitoregular.woff2") format("woff2");
    font-weight: 700;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

header {
    padding: 27px 831px 0 827px;
    margin-bottom: 112px;
}

.container {
    display: flex;
    padding: 0 63px 0 250px;
    max-width: 1200px;
    width: 100%;
    gap: 96px;
    margin: 0 auto 144px auto;
}

.form-section {
    flex: 1;
    max-width: 452px;
}

.form-section h1 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 7px;
}

.form-section p {
    font-size: 22px;
    color: #636363;
    margin-bottom: 42px;
}

.form-input {
    width: 452px;
    height: 60px;
    border: none;
}

.form-input::placeholder {
    font-size: 16px;
    color: #C6C6C4;
    padding: 20px 4px 4px 4px;
}

.check-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0 40px 0;
    font-size: 16px;
    color: #636363;
}

.button {
    background-color: #DD3142;
    width: 210px;
    height: 70px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

.question {
    display: block;
    font-size: 16px;
    color: #636363;
    margin-top: 44px;
    text-align: center;
}

.image-section {
    background-color: #F8F8FA;

}